<h1>View Your Clients Restrictions</h1>

<section class="todoapp">
	<section class="main" style="display: block;">
		<ul class="todo-list">

            <% @restrictions.each do |restriction| %>
                <ul>
                <%= link_to restriction.name, "restrictions/#{restriction.id}" %>
                </ul>
            <% end %>

            </ul>
	</section>
</section>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>