<h3><%= @restriction.name %></h3>

<p><%= button_to "Edit #{@restriction.name}", edit_client_path(params[:client_id]), :method => "get" %></p>

<p><%= button_to "New Restriction", new_client_restriction_path(params[:client_id]), :method => "get" %></p>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>