<h1>Your Recipes</h1>

<% @recipes.each do |recipe| %>
    </ul>
    <%= link_to recipe.name, "recipes/#{recipe.id}" %><br>
    </ul>
<% end %>

<p><label>**Would love to have the recipe index sorted by the breakfast/lunch/dinner attributes**</label></p>

<p><label>Breakfasts: </label></p>
B-1<br>
B-2<br>
B-3
<p><label>Lunches: </label></p>
L-1<br>
L-2<br>
L-3
<p><label>Dinners: /label></p>
D-1<br>
D-2 <br>
D-3

<p><%= button_to "Homepage", root_path, :method => "get" %></p>
