<h1>Your Recipes</h1>

<% @recipes.each do |recipe| %>
    </ul>
    <%= link_to recipe.name, "recipes/#{recipe.id}" %><br>
    </ul>
<% end %>

<%= button_to "Homepage", root_path, :method => "get" %>
