<h1>Your Recipes</h1>

<p><label>Breakfasts: </label></p>

<%= render partial: "recipe_meal", locals: {meals: @breakfasts } %>

<p><label>Lunches: </label></p>

<%= render partial: "recipe_meal", locals: {meals: @lunches } %>

<p><label>Dinners: </label></p>

<%= render partial: "recipe_meal", locals: {meals: @dinners } %>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>
