<h2><%= @recipe.name %></h2><br>

<%= @recipe.serves %>
<%= @recipe.instructions %>
 <% @recipe.ingredients.each do |ingredient| %>
      <%= ingredient.name %><br>

    <% end %>

<%# create_table "recipes", force: :cascade do |t|
    t.string "name"
    t.integer "serves"
    t.string "sauce"
    t.string "garnish"
    t.text "instructions"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.integer "user_id"
  end %>

  <%# create_table "ingredients", force: :cascade do |t|
    t.string "name"
    t.string "quantity"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.integer "size"
    t.string "unit"
  end %>