EDIT CLIENT

<%= render partial: 'clients/form' %>

<p><%= button_to "Delete #{@client.name}", client_path, :method => "delete" %></p>

<pr><%= button_to "Homepage", root_path, :method => "get" %></p>