<h2>Edit <%= @client.name %></h2>

<%= render 'form' %>

<p><%= button_to "Delete #{@client.name}", client_path, :method => "delete", data: {confirm: "Are you sure you want to permanently delete #{@client.name}?"} %></p>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>