<h1>View All Your Clients</h1>

<% @clients.each do |client| %>
    <ul>
    <%= link_to client.name, "clients/#{client.id}" %>
    </ul>
<% end %>

<p><%= button_to "Add another client", new_client_path, :method => "get" %></p>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>