<h1>View All Your Clients</h1>

<% @clients.each do |client| %>
    <ul>
    <%= link_to client.name, "clients/#{client.id}" %>
    </ul>
<% end %>

<%= button_to "Homepage", root_path, :method => "get" %>