<h3><%= @client.name %></h3>

<p><%= button_to "Edit #{@client.name}", edit_client_path, :method => "get" %></p>

<p><%= button_to "Add another client", new_client_path, :method => "get" %></p>

<p><%= button_to "Homepage", root_path, :method => "get" %></p>