
<section class="todoapp">
	<header class="header">
		<h1>Mealzys</h1>
		<input class="new-todo" placeholder="What needs to be done?" autofocus="">
	</header>

	<section class="main" style="display: block;">
		<ul class="todo-list">
            <li data-id="1564063687532" class="">
                <div class="view">
                    <label>Add a Client</label>
                </div>
                <div class="view">
                    <label>Add a Recipe</label>
                </div>
                <div class="view">
                    <label>Add an Order</label>
                </div>
            </li>
        </ul>
	</section>

    <footer class="footer" style="display: block;">
    </footer>
</section>